<div id="comments">
    <script src="https://giscus.app/client.js"
            data-repo="qianyui/blog"
            data-repo-id="R_kgDOO_dM0Q"
            data-category="Comments"
            data-category-id="DIC_kwDOO_dM0c4C1Gmj"
            data-mapping="url"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="zh-CN"
            crossorigin="anonymous"
            async>
    </script>
</div>